.ticker {
  display: flex;
}

.logo {
  border-radius: 5px;
  width: 38px;
  color: #ffffff;
  padding: 4px 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.8px;
  margin-right: 10px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #202124;
  letter-spacing: 0.25px;
  margin-top: 2px;
}

.persent {
  align-items: flex-end;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
